html{-webkit-font-smoothing:subpixel-antialiased; -webkit-tap-highlight-color:transparent;font-size:100%; overflow-x:hidden; overflow-y:scroll;-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;overflow-x: hidden;}
body{font:14px/1.5 Microsoft YaHei,Arial,STHeiti,STSong,sans-serif; color:#666;overflow: hidden;-webkit-overflow-scrolling:touch; /*网页快速滚动和回弹*/}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,textarea,legend{margin:0;padding:0;}
pre,code,address,caption,cite,em,strong,th,figcaption,i,var{font-weight:normal;font-style:normal;}
b,strong{font-weight:bold;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,video{display:block;}
audio,canvas,progress,video{display:inline-block; vertical-align:baseline;}
ul,ol,li,dl,dt,dd{list-style-type:none; list-style-position:outside;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,button,textarea,select{font-family:inherit; font-size:inherit; line-height:inherit; color:inherit; }
input,button,select,textarea,label{display:inline-block; vertical-align:middle;outline: none;-moz-outline:none;border:none;}
textarea{overflow:auto; resize:none;}
table{border-collapse:collapse; border-spacing:0;}
a{color:#666; background-color:transparent;text-decoration:none;outline: none;-moz-outline:none;}
a:hover{color:#333;}
a:active{outline: none;}
:focus{outline:none;-moz-outline:none;/*blr:expression(this.onFocus=this.blur())*/}
a img{border:none;}
img,video{max-width:100%;}
img{border:none;-ms-interpolation-mode: bicubic;}
iframe{display:block;border:none;}
input[type="text"]::-webkit-input-placeholder{color:#a9a9a9;}
input[type="text"]:-moz-placeholder{color:#a9a9a9; opacity:1;}
::-webkit-selection {background: #556a7f;color: #fff;text-shadow: none;}
::-moz-selection {background: #556a7f;color: #fff;text-shadow: none;}
::selection {background: #556a7f;color: #fff;text-shadow: none;}
abbr[title]{border-bottom:1px dotted;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type="button"],
input[type="reset"],input[type="submit"]{-webkit-appearance:button; cursor:pointer; }
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;border-color: transparent;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{ padding:0; }
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
optgroup{font-weight:bold;}
dfn{font-style:italic;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
svg:not(:root){overflow:hidden;}
hr{box-sizing:content-box;height:0;display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
pre{overflow:auto;}
audio,canvas,iframe,img,svg,video{vertical-align:middle;}
@media print {
 img{max-width: 100% !important;}
 p,h2,h3{orphans:3;widows:3;}
}

/* -- 功能 ( .f- )--*/
.f-fix:before,.f-fix:after{content:''; display:table;*zoom:1;}.f-fix:after{clear:both;}
.f-tal{text-align:left;}.f-tac{text-align:center;}.f-tar{text-align:right;}
.f-fl{float:left;}.f-fr{float:right;}
.f-rel{position: relative;}.f-abs{position: absolute;}
.f-b{font-weight:bold;}.f-i{font-style:italic;}.f-s{text-decoration:line-through;}
.f-db{display:block;}.f-dib{display:inline-block; vertical-align:middle;}.f-di{display: inline;}.f-dn{display: none;}
.f-oh{overflow:hidden;}.f-ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.f-box{}
.f-wbk{word-wrap:break-word; word-break:break-all;}
.f-r3{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
}