body{background: #f5f6f8;padding-top:158px;}
/*  header  */
#header_box{width:100%;background:#FF8000;position:fixed;top:0;left:0; -moz-box-shadow:0 5px 10px rgba(0,0,0,.3);box-shadow:0 5px 10px rgba(0,0,0,.3);z-index:99;padding-bottom: 10px;}
#header{padding:0 2%;max-width: 1100px;margin:0 auto;position:relative;}
#header p{width:700px;position:absolute;color:#93a8bd;font-size: 12px;font-size: .857em;text-align: right;top:20px;right:70px;}
#logo{width:250px;margin:20px;float: left;position:relative;}
#logo a{display: block;width:100%;height:98px;}
#logo a span{color:#b2c5d6;font-size: 40px;font-size:2.857em;font-weight: normal;position: absolute;left:110px;top:18px; -webkit-transform: all .5s ease 0s;-ms-transform:all .5s ease 0s ;-o-transform: all .5s ease 0s;transform:all .5s ease 0s ;}
#logo img{width:90px;height:90px;border-radius: 50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius: 50%;border:4px solid #DE850C;margin-right:20px;-webkit-transform:all .5s ease 0s ;-ms-transform: all .5s ease 0s;-o-transform: all .5s ease 0s;transform:all .5s ease 0s ;}
#logo img:hover{border-color:#FDEED9;}
#logo span:hover{-webkit-animation: tada 1s ease 0s;-o-animation: tada 1s ease 0s;animation:tada 1s ease 0s;color:#fff;}

@keyframes tada{
    0% {-webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%,20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,60%,80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}
@-webkit-keyframes tada{
    0% {-webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    10%,20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,60%,80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}


.nav{border-top:1px solid #fff;float: right;margin-top: 50px;}
.nav li{float: left;}
.nav li a{display: inline-block;padding:20px;font-size: 16px;font-size: 1.14em;font-weight: bold; color:#6F00DD;-webkit-transition: all .5s ease 0s;
-o-transition:all .5s ease 0s ;transition:all .5s ease 0s ;}
.nav li a:hover{color:#fff;}
#toggle_menu{display: none; width:30px;height:30px;position:absolute;z-index:100;right:20px;top:50%; -webkit-transform: translateY(-50%);
-ms-transform:translateY(-50%) ;-o-transform: translateY(-50%);transform: translateY(-50%);}
#toggle_mnu i{width: 30px;height: 4px;background: #fff;-webkit-box-shadow: 0 -10px 0 #fff,0 10px 0 #fff;box-shadow:0 -10px 0 #fff,0 10px 0 #fff;text-indent: -9999px;display: inline-block;position: absolute;top: 50%;left: 0;margin-top: -2px;}

/* Project  */
#project{background: #fff;box-shadow: 0 2px 6px rgba(100,100,100,.2);}
.project{padding:20px 2% 0;max-width: 1100px;margin:0 auto;}
.project h2{font-size: 16px; font-size:1.14em;text-indent:2%;color:#FF8000;padding-bottom: 6px;border-bottom: 1px solid #ddd;position:relative;}
.project h2 a{position:absolute;right:2%;text-indent: 0;bottom: 6px;font-size: 12px;font-size: .857em;font-weight: normal;color:#999;}
.project h2 a:hover{color:#FF8000;}
.project ul{margin-top:20px;}
.project ul li{float: left;width:200px;width:18.18%;margin:0 10px;margin:0 .9%}
.project ul li a{display: block;padding:6px;padding-bottom: 0; -webkit-transition: all .3s ease-in-out;
-o-transition:all .3s ease-in-out ;transition:all .3s ease-in-out ;}
.project ul li a img{width:100%;display: block;}
.project ul li a span{text-align: center;display: block;width:100%;height:30px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color:#fff;font-size: 1em;}
.project ul li a:hover{background: #DE850C;}
.project ul li a:hover span{color:#fff;}

/* container */
#container{padding: 0 50px;padding: 0 2%;max-width: 1100px; margin: 20px auto;}
#container:after{display: table;content: '';clear: both;}
#content{margin-right: 260px;}
.arti-list{padding: 20px;box-shadow: 0 2px 6px rgba(100,100,100,0.2);margin-bottom: 10px;background: #fcfcfa;margin-bottom: 20px;}
.arti-list h3{width: 100%;}
.arti-list h3 a{color: #333;font-size: 18px;font-size: 1.286em;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.arti-list h3 a:hover{color:#FF8000;padding-left: 10px;}
.readMore{text-align: right;}
.readMore a{color:#fff;background:#FF8000;display: inline-block;padding:6px 10px;-webkit-transition: all .5s ease;
-o-transition: all .5s ease;transition: all .5s ease;}
.readMore a:hover{position: relative;bottom:1px;background:#3E5063;}
.arti-list p{padding: 10px 0;line-height: 180%;}
.arti-list .info{height: 30px;line-height: 30px;color: #777;font-size: 12px;font-size: .857em;}
.arti-list .info span{margin-right: 14px;display: block;float: left;padding-left: 22px;position: relative;}
.arti-list .info span i{display: inline-block;width: 20px;height: 20px;position: absolute;left: 0;top: 4px;background:url(../images/ico-sprite.png) no-repeat;}
.arti-list .info span.pub-time i{background-position: 5px 4px;}
.arti-list .info span.views i{background-position:-16px 5px;}
.arti-list .info span.tags i{background-position: -34px 3px;}

#aside{float: right;width: 240px;position: relative;}
.aside-block{/*width: 200px;*/padding: 20px;padding-top: 50px;background: #fff;
    box-shadow: 0 2px 6px rgba(100,100,100,0.2);margin-bottom: 20px;position: relative;}
#aside .aside-block:nth-child(4){padding-bottom: 10px;margin-bottom: 0;}
.aside-block:after{content: '';display: table;clear: both;}
.aside-block .unique_img{box-shadow: 0 5px 6px rgba(100,100,100,0.4);border: 1px solid #ddd;margin-bottom: 10px;width: 200px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.aside-block h2{height: 40px;line-height: 40px;background:#FF8000;text-indent: 8%;position: absolute;top: 0;left: 0;width: 100%;color: #fff;font-size: 1.14em;}
.aside-block a.link1{background:#FF8000;color: #fff;text-align: center;margin-top: 10px;}
.aside-block a.link1:hover{background:#3E5063;}
.aside-block a.link1,.aside-block .list a{display: inline-block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 40px;line-height: 40px;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.aside-block .list li{border-bottom: 1px solid #ddd;}
.aside-block .list li a:hover{background:#FF8000;text-indent: 10px;color: #fff;}
.tags a{display: inline-block;margin: 0 10px 10px 0;color:#fff;opacity:.7;padding: 3px 6px;}
.tags a:hover{opacity: 1;}
.tags a:nth-child(1){background: #237DBF;}
.tags a:nth-child(2){background: #9E0D7E;}
.tags a:nth-child(3){background: #0D1E9E;}
.tags a:nth-child(4){background: #229E0D;}
.tags a:nth-child(5){background: #530D9E;}
#side_toggle{position: fixed;right: 0;top:300px;background: rgba(85,106,127,.8);width: 30px;height: 30px;line-height: 28px;text-indent: 10px;color: #fff;font-size: 20px;font-weight: bold;-webkit-border-radius: 50% 0 0 50%;border-radius: 50% 0 0 50%;display: none;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.3);
box-shadow: 0 5px 5px rgba(0,0,0,.3);z-index: 999;}
#article{padding: 20px;background: #fff;-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
box-shadow: 0 2px 6px rgba(0,0,0,.2);}
#article h1{font-size: 20px;text-align: center;line-height: 30px;color:#333;}
#article h2{text-align: center;font-size: 12px;color: #444;margin-bottom: 20px;}
#article p{margin: 20px 0;line-height: 180%;}
#article h3{font-size: 16px;padding-bottom:6px;border-bottom: 1px solid #ddd;}
#article .artiInfo{width: 100%;margin-top: 30px;}
#article .artiInfo p{margin: 0;}
#article .artiInfo p strong{color: #333;}
#article .artiInfo p a{color: #f40;}
#article .artiInfo p a:hover{text-decoration: underline;}

.differePage{background: #fff;margin: 20px 0;padding: 10px 0;-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);box-shadow: 0 2px 6px rgba(0,0,0,.2);width: 100%;height:30px;}
.differePage:after{display: table;content: '';clear: both;}
.differePage li{width: 46%;padding: 0 2%;float: left;height: 30px;line-height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.differePage li a:hover{text-decoration: underline;}

/*   footer */
footer{background: #e6eaed;width: 100%;-webkit-box-shadow: 0 -2px 6px rgba(100,100,100,0.2);box-shadow: 0 -2px 6px rgba(100,100,100,0.2);}
#footer{padding: 50px;padding: 50px 2%;max-width: 1100px;margin: 0 auto;}
#footer:after{content: '';display: table;clear: both;}
.foo-block{float: left;margin-right:100px;margin-right: 7%;position: relative;padding-left: 40px;padding-left:5%;}
.foo-block i{position: absolute;left: 0;top: 6px;display: inline-block;width: 30px;height: 30px;background:url(../images/ico-sprite.png) no-repeat;}
.foo-block.copyright i{background-position: 3px -22px;}
.foo-block.owner i{background-position: 3px -60px;}
.foo-block.website i{background-position:-34px -25px;}
.foo-block.contact i{background-position: -35px -60px;}
.foo-block strong{color: #566781;display: block;font-size: 1em;}
.foo-block span,.foo-block span a{font-size: 13px;font-size: .929em;color: #dc8e7a;}
.foo-block span a{text-decoration: underline;color: #1B6DBF}

/* ToTOP*/
.backToTop,.toBottom{width:40px;height:40px;text-indent:-9999px;position:fixed;right: 0px;cursor:pointer;z-index:1111;display:none;}
.backToTop{background:url(../images/bt_top.gif) no-repeat 0 0;bottom: 150px;}
.backToTop:hover{background:url(../images/bt_top.gif) no-repeat 0 -50px;}
.toBottom{background:url(../images/bt_bottom.gif) no-repeat 0 -50px;bottom: 100px;}
.toBottom:hover{background:url(../images/bt_bottom.gif) no-repeat 0 0;}

/* third party plug */
 /*  sohu */
.comment{padding:20px;background: #fff;-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
box-shadow: 0 2px 6px rgba(0,0,0,.2);}

/*    end   */
@media screen and (min-width:980px){
    #header nav{display: block!important;}
}
@media screen and (max-width:980px){
    #logo{width: 125px;margin: 0;}
    #logo img{display: none;}
    #logo a{height: 64px;}
    #logo a span{left: 2%;top:8px;font-size:2.14em;color: #fff;}
    #header p{display: none;}
    .nav{border-top: none;margin-top: 0;}
    body{padding-top: 66px;}
    .foo-block{margin-right:4%;}
}

@media screen and (min-width:750px) and (max-width:830px){
    .nav li a{padding:20px 14px;}
    .foo-block{margin-right: 3%;}
    .foo-block span, .foo-block span a{font-size: .8em;}
}

@media screen and (max-width:749px){
    #header p{display: block;}
    #logo{width: 100%;border-bottom: 1px solid #93a8bd;}
    #logo a span{top: 8px;}
    .nav{float: none;}
    #header p{right: 4%;top: 28px;}
    .project{padding-top: 70px;}
    .nav li a{font-size: 1em;}
    .foo-block{margin-right: 3%;}
    .foo-block strong{font-size: .8em;}
    .foo-block span, .foo-block span a{font-size: .8em;}
    #container.sub_cont{margin-top: 80px;}
}
@media screen and (max-width:700px){
    .aside-block .unique_img{display: none;}
    /*右侧模块伸缩*/
    #aside {display: none;}
    #aside.show_sty,#aside.hide_sty{z-index: 99;background: #fff;-webkit-box-shadow: -6px 0 6px rgba(0,0,0,.6);box-shadow: -6px 0 6px rgba(0,0,0,.6);width: 90%;padding: 10px;position: fixed;top: 0;right: 0;height: 100%;overflow: scroll;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
    #aside.show_sty{-webkit-transform: translate(0,0);transform: translate(0,0);}
    #aside.hide_sty{-webkit-transform: translate(100%,0);transform: translate(100%,0);-webkit-box-shadow: none;box-shadow: none;}
    #side_toggle{display: block;top:100px;}
    #content{margin-right: 2%;margin-right: 0;}
}
@media screen and (max-width:600px){
    .nav li a{padding:20px 12px;}
    .project ul li a span{height: 26px;line-height: 26px;font-size: .9em;}
    .foo-block{padding-left: 8%;margin:0  9% 10px 2%;}
    .foo-block.contact{position: relative;left: 14px;}  
}
@media screen and (max-width:500px){
    #side_toggle{top:170px;}
    #content{margin-right: 0;}
    /*.aside-block a.link1{width: 46%;display: block;}
    .aside-block .links a.link1:nth-child(1){float: left;}
    .aside-block .links a.link1:nth-child(2){float: right;}
    .aside-block .list a{width: 100%;}*/
     /*伸缩导航*/
    #logo{border-bottom: none;width:150px;}
    #header p{display: none;}
    .nav{display: none;position: absolute;top: 64px;left: 0;width: 100%;background: #14293f;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.3);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);}
    .nav li{float: none;width: 100%;}
    .nav li a{padding: 14px 10%;display: block;border-top: 1px solid #264A6F;border-bottom: 1px solid #02080E;}
    #toggle_mnu{display: inline-block;}
    .project{padding-top: 6px;}
    .project h2,.aside-block h2{font-size: .9em;text-indent: 2%;}
    #footer{padding-top: 20px;padding-bottom: 20px;}  
    .project ul li a span{font-size: .8em;}
    .foo-block{margin-right: 4%;}
    .foo-block i{-webkit-transform: scale(.8,.8);transform: scale(.8,.8);}
    .foo-block span, .foo-block span a{font-size: .8em;}
    .foo-block{padding-left: 10%;}
    .backToTop{bottom: 130px;}
    .backToTop,.toBottom{-webkit-transform:scale(.7,.7);transform:scale(.7,.7);}
    #container.sub_cont{margin-top: 14px;}
}
@media screen and (min-width:800px) and (max-width:900px){
    .foo-block{margin-right: 5%;}
}
@media screen and (max-width:300px) and (max-height:300px){
    .nav{overflow:scroll;height: 200px;}
}